[submodule "hw2"]
	path = hw2
	url = https://github.com/dlsyscourse/hw2.git
[submodule "hw3"]
	path = hw3
	url = https://github.com/dlsyscourse/hw3
[submodule "hw4"]
	path = hw4
	url = https://github.com/dlsyscourse/hw4
[submodule "hw4_extra"]
	path = hw4_extra
	url = https://github.com/dlsyscourse/hw4_extra
